@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* -----------------------  PALETA DE COLORES ---------------- */
 :root {
    --color-font-primary: #856885;
    --color-font-secondary: #856885;
    --color-background-card: #cfc2cf;
}
 /* -----------------------  ESTILOS DE TEXTOS ---------------- */
.font-title {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: var(--color-font-primary);
} 
.font-subtitle {
    font-family: "Poppins", sans-serif !important;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
    color: var(--color-font-primary);
}
.font-normalText {
    font-family: "Poppins", sans-serif !important;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
}
.font-style-card {
    color: var(--color-font-primary);
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
}
  /* -----------------------  ESTILOS GRID CONTAINER ---------------- */
  .grid-container{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
/*--------------------------------------------------------*/
body {
    background-color: #241b35;
    color: #856885; 
}
p {
    background-color: #856885;
    color: #241b35;
}
h1{
    background-color: #856885;
    color: #241b35;
}
.encabezado{
    max-width: 1300px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 5px;
    padding: 5px;
    
    
}
.contenedor-primario{
    align-content: end;
    font-size: 1.3rem;
}
.contenedor-secundario{
    text-align: center;    
    height: 40px;
    align-content: end;
    font-size: .6rem;
}
.nav{
    color: var(--color-font-primary);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;    
}
/* header{
    margin-top: 10px;
    font-size: .7rem;
    
}
.nav {
    color: var(--color-font-primary);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}
.ref{
    text-align: center;
} */

  /* -----------------------  ESTILOS GRID CONTAINER ---------------- */
  .container {
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.grid-item {
    padding: 20px;
}

  /* -----------------------  ESTILOS CARD ---------------- */
.img-card {
    width: 100%;
}

.card {
    padding: 20px;
    background-color: var(--color-background-card);
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .grid-item{
        padding: 0px;
    }
  }

  @media only screen and (max-width: 399px) {
    .container {
        padding: 5px;
        min-width: 290px;
    }
    .contenedor-primario{
        font-size: 1.1rem;
    }
    .contenedor-secundario{
        font-size: .5rem;
    }
  }